<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <title>examinations uppgift</title>
</head>
<body>
    <h1 id="heading">TaskAlot</h1>
    <h2 id="underheading">It's time to get productive, huh.</h2>
    <h3 id="whatTask">What task would you like to add?</h3>
    <div>
    <input id="task" type="text" placeholder="Enter task" />
    <button id="submit">Submit</button>
    </div>

    <ul id="task-List">
        <li id="loading">Loading...</li>
    </ul>

    <script src="/static/main.js"></script>
</body>
</html> 